<%- include('./boilerplate/header') %>
    <div class="img">
        <div class="container">
            <div class="jumbotron">
                <h1 class="display-3">Oops, not found!</h1>
                <p class="lead"><a href="/campgrounds">Go back to the campgrounds</a></p>
            </div>
        </div>
    </div>
    <%- include('./boilerplate/footer') %>